<p>
  offers-list works!
</p>

<div class="container-fluid">
  <div class="container xd-container">

    <h2>Offers</h2>
    
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Discount</th>
            <th>Expire Date</th>
          </tr>
          </thead>
          <tbody>
              <tr *ngFor="let vet of vets">
                <td>
                  {{ vet.firstName }} {{ vet.lastName }}
                </td>
                <td>
                  <div *ngFor="let spec of vet.specialties">
                    {{ spec.name }}
                  </div>
                </td>
                <td>
                  <button class="btn btn-default" (click)="editVet(vet)">Edit Vet</button>
                  <button class="btn btn-default" (click)="deleteVet(vet)">Delete Vet</button>
                </td>
              </tr>
              </tbody>
    </table>

    <div>
      <button class="btn btn-default" (click)="goToHome()">Home</button>
      <button class="btn btn-default"> Add </button>
      <button class="btn btn-default"> List </button>
      <button class="btn btn-default"> Edit </button>
      <button class="btn btn-default"> Delete </button>
    </div>
</div>
