<p>
  offers-list works!
</p>

<div class="container-fluid">
  <div class="container xd-container">

    <h2>Offers</h2>
    
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Discount</th>
            <th>Expire Date</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let offer of offers">
              <td>
                {{ offer.id }}
              </td>
              <td>
                {{ offer.title }}
              </td>
              <td>
                  {{ offer.discount }}
              </td>
              <td>
                 {{ offer.expireDate }}
              </td>
              <td>
                <i class="fas fa-pencil" routerLink="/offers/edit/{{offer.id}}"></i> 
              </td>
              <td>
                <i class="fas fa-times" routerLink="/offers/delete/{{offer.id}}"></i>
              </td>
            </tr>
              </tbody>
    </table>

    <div>
      <button class="btn btn-default" (click)="goToHome()">Home</button>
      <button class="btn btn-default"> Add </button>
    </div>
</div>
