<div class="container-fluid">
  <div class="container xd-container">
    <h2>
      Edit Offer
    </h2>
    <form [formGroup]="formulario" class="form-horizontal">
      <div class="form-group">
        <input placeholder="Title" required class="form-control margeninferior" formControlName="title" />
        <input placeholder="Description" required class="form-control margeninferior" formControlName="description" />
        <input placeholder="Discount" type="number" required class="form-control margeninferior" formControlName="discount" />
        <input placeholder="Date (YYYY-MM-DD)" type="text" required class="form-control margeninferior" formControlName="expireDate" />
        <button type="submit" class="btn btn-success margenderecha" [disabled]="!formulario.valid" (click)="updateOfferComponent()">Crear</button>
      </div>
    </form>
  </div>
</div>